// Variables
@import 'variables';

// Imports
@import 'base';
@import 'components/classes';

@import 'layouts/header';
@import 'layouts/body';
@import 'layouts/sidebar';

@import 'components/article';
@import 'components/article-sidebar';
@import 'components/error-box';
@import 'components/button';
@import 'components/input';
@import 'components/alert';
@import 'components/contextmenu';
@import 'components/pagination';

@import 'components/profilePage';
@import 'components/login';

.content-box {
    margin: 10px auto;
    padding: 12px;
    background-color: rgb(241, 241, 241);
    max-width: 700px;
    border-radius: 4px;
    box-sizing: border-box;
    @media screen and (min-width: 600px) {
        &.big-padding {
            padding: 24px;
        }
    }
    @media screen and (max-width: $sp-size) {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
}

.body-content > .content-box {
    width: calc(100% - 20px);
    @media screen and (max-width: $sp-size) {
        margin: 0;
        min-height: calc(100vh - #{$header-height});
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 649px) {
    .content {
        width: 100%;
        display: table-row;
    }

    .sidebar {
        display: none;
        // display: block;
        // position: fixed;
        // top: calc(100% - 66px);
        // left: 0;
        // right: 0;
        // width: 100%;
        // padding: 0;
    }
}

.left-line {
    display: block;
    position: relative;
    min-height: 12px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 36px;
    padding-bottom: 10px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: 24px;
        bottom: 0;
        width: 3px;
        background-color: #b8b8b8;
        border-radius: 1.5px;
    }
}

//html {
//    &::-webkit-scrollbar {
//        width: 15px;
//        height: 15px;
//    }
//    &::-webkit-scrollbar-track {
//        background-color: darken($primary-color, 30);
//    }
//    &::-webkit-scrollbar-thumb {
//        background-color: $primary-color;
//        border-radius: 5px;
//        border: solid 3px darken($primary-color, 30);
//        &:hover {
//            background-color: darken($primary-color, 5);
//        }
//        &:active {
//            background-color: darken($primary-color, 10);
//        }
//    }
//}

.user-select-all {
    user-select: all;
}
