.center-text {
    text-align: center;
}

.alert {
    padding: 10px 12px;
    border-radius: 4px;
    border: solid 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    &.alert-danger {
        background-color: rgba(232, 76, 76, 0.03);
        color: #e27171;
        border-color: rgba(232, 76, 76, 0.06);
    }
}
