#contextmenu-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
}

#contextmenu {
    display: block;
    position: fixed;
    top: -9999px;
    left: -9999px;
    z-index: 1000;
    min-width: 180px;
    padding: 4px 0;
    //background-color: rgb(73, 76, 80);
    background-color: rgb(236, 236, 236);
    font-family: 'Yu Gothic UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 25.6px 57.6px rgba(0, 0, 0, 0.25569638034578496), 0px 0px 16.4px rgba(0, 0, 0, 0.21635847567720265);
    user-select: none;
    overflow: hidden;
    span,
    a {
        padding-left: 10px;
        //color: whitesmoke;
        color: black;
        display: block;
        white-space: nowrap;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        text-decoration: none;
        outline: none;
        &.link {
            &:hover {
                //background-color: rgba(255, 255, 255, 0.08);
                background-color: rgba(black, 0.04);
            }
            &:focus {
                //background-color: rgba(255, 255, 255, 0.16);
                background-color: rgba(black, 0.08);
            }
            &.google {
                &:before {
                    @include mdi('\F02AD');
                    margin-right: .5em;
                }
                color: $google-color;
                &:hover {
                    background-color: rgba($google-color, 0.08);
                }
                &:focus {
                    background-color: rgba($google-color, 0.16);
                }
            }
            &.discord {
                &:before {
                    @include mdi('\F066F');
                    margin-right: .5em;
                }
                color: $discord-color;
                &:hover {
                    background-color: rgba($discord-color, 0.08);
                }
                &:focus {
                    background-color: rgba($discord-color, 0.16);
                }
            }
        }
        &.danger-color {
            color: rgb(228, 55, 55);
            &:hover {
                background-color: rgba(240, 102, 102, 0.08);
            }
            &:focus {
                background-color: rgba(240, 102, 102, 0.16);
            }
        }
    }
    hr {
        margin: 4px 0;
        height: 1px;
        background-color: rgba(black, 0.16);
    }
}
